apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalogue
  namespace: robot-shop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalogue
  template:
    metadata:
      labels:
        app: catalogue
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: catalogue
          image: ghcr.io/mick-proj/devops-programme/catalogue:82283aa3603f05583e7372c79088b975911bc830
          ports:
            - containerPort: 8080

