apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart
  namespace: robot-shop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cart
  template:
    metadata:
      labels:
        app: cart
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: cart
          image: ghcr.io/mick-proj/devops-programme/cart:82283aa3603f05583e7372c79088b975911bc830
          ports:
            - containerPort: 8080

