apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart
  namespace: robot-shop
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cart
  template:
    metadata:
      labels:
        app: cart
        prometheus: scrape
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: cart
          image: ghcr.io/mick-proj/devops-programme/cart:3599c7514a0dbcb82aa91a913432092114ccf4c7
          ports:
            - containerPort: 8080
