apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart
  namespace: robot-shop
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cart
  template:
    metadata:
      labels:
        app: cart
        prometheus: scrape
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: cart
          image: ghcr.io/mick-proj/devops-programme/cart:bcfbb5d3b9e90eb35332e797fbf28b3c71bc464e
          ports:
            - containerPort: 8080
