server:
  global:
    scrape_interval: 15s
    evaluation_interval: 15s

kube-state-metrics:
  enabled: true

nodeExporter:
  enabled: true

kubelet:
  enabled: true

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

alertmanager:
  enabled: true
