apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: robot-shop
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
        prometheus: scrape
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: web
          image: ghcr.io/mick-proj/devops-programme/web:42b00d8b2beb0974b959649c20d28737b0469e7c
          ports:
            - containerPort: 8080
          env:
            - name: USER_HOST
              value: "localhost"
            - name: SHIPPING_HOST
              value: "localhost"
            - name: PAYMENT_HOST
              value: "localhost"
            - name: RATINGS_HOST
              value: "localhost"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"

