name: CI - Build, Scan, Push & GitOps Update

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "infrastructure/**"

env:
  REGISTRY: ghcr.io
  IMAGE_REPO: mick-proj/devops-programme

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set full git SHA
        id: vars
        run: echo "SHA=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: miroslav.gaydazhiev@gmail.com
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Run Hadolint (web)
        uses: hadolint/hadolint-action@v3.1.0
        continue-on-error: true
        with:
          dockerfile: app/web/Dockerfile

      - name: Run Hadolint (cart)
        uses: hadolint/hadolint-action@v3.1.0
        continue-on-error: true
        with:
          dockerfile: app/cart/Dockerfile

      - name: Run Hadolint (catalogue)
        uses: hadolint/hadolint-action@v3.1.0
        continue-on-error: true
        with:
          dockerfile: app/catalogue/Dockerfile

      - name: Build & push web image
        run: |
          docker build -t $REGISTRY/$IMAGE_REPO/web:${{ env.SHA }} app/web
          docker push $REGISTRY/$IMAGE_REPO/web:${{ env.SHA }}

      - name: Build & push cart image
        run: |
          docker build -t $REGISTRY/$IMAGE_REPO/cart:${{ env.SHA }} app/cart
          docker push $REGISTRY/$IMAGE_REPO/cart:${{ env.SHA }}

      - name: Build & push catalogue image
        run: |
          docker build -t $REGISTRY/$IMAGE_REPO/catalogue:${{ env.SHA }} app/catalogue
          docker push $REGISTRY/$IMAGE_REPO/catalogue:${{ env.SHA }}

      - name: Checkout GitOps repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.CD_REPO_TOKEN }}
          path: gitops

      - name: Update image tags in GitOps repo
        run: |
          sed -i "s|image: .*web:.*|image: $REGISTRY/$IMAGE_REPO/web:${{ env.SHA }}|" gitops/infrastructure/web/deployment.yaml
          sed -i "s|image: .*cart:.*|image: $REGISTRY/$IMAGE_REPO/cart:${{ env.SHA }}|" gitops/infrastructure/cart/deployment.yaml
          sed -i "s|image: .*catalogue:.*|image: $REGISTRY/$IMAGE_REPO/catalogue:${{ env.SHA }}|" gitops/infrastructure/catalogue/deployment.yaml

      - name: Commit & push GitOps update
        run: |
          cd gitops
          git config user.name "ci-bot"
          git config user.email "ci@github.com"
          git add .
          git commit -m "Update images to SHA ${{ env.SHA }}"
          git push
